<% if @errors %>
  <p>
    <%= @errors %>
  </p>
<% end %>

<%= form_for :session, url: sessions_path, method: "post" do |f| %>
  <%= f.text_field :username, placeholder: "Username" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.submit "Login" %>
<% end %>

<%= link_to "Back to homepage", games_path %>
