

  <ul>
    <div class = "comment_arrows">
      <a href = "/comments/<%=comment.id%>/vote/1">
        <div class='arrow-up'>
        </div>
      </a>

      <div class="vote_count">
        <p id = "vote_for_comments"><%=Vote.total(comment) %></p>
      </div>

      <a href = "/comments/<%=comment.id%>/vote/-1">
        <div class='arrow-down'>
        </div>
      </a>
    </div>
    <li><%= comment.content %></li>
    <li><%= comment.commenter.username %></li>
  </ul>



