<p>
  Are these the users you're looking for...?
</p>
<% @users.each do |user| %>
  <p>
    <%= user.image %><br>
    <%= link_to user.username, user_path(user) %><br>
    <%= user.name %><br>
    <%= link_to user.username, user_path(user) %><br>
<!--   this logic needs to be extracted to a helper method -->
    <% if @current_user && user.friends.include?(@current_user) %>
      <%= button_to "create", '/' %>
      <%#= button_to "This person is no longer my friend", '/'#this needs a delete friendship route %>
    <% else %>
      <%= button_to "delete", '/' %>
      <%#= button_to "Add this user as a friend", '/'#this needs a create friendship route %>
    <% end %>

  </p>
<% end %>
