<%= render partial: "/headbar" %>

<p>
  <%= @user.username %>
</p>
<p>
  <img src="<%= @user.image %>">
</p>
<p>
  <h3>Here's a little bit about me</h3>
  <br><%= @user.bio%>
</p>
  <% if session[:user_id] != @user.id %>
    <%= button_to "Add to my friends", user_add_friend_path({user_id: session[:user_id], friend_id: @user.id}), class:  "btn btn-primary",  method: "POST"%>
  <% end %>
<p>
  <h3>Here are some of my games</h3>
  <% @user.games.each do |game| %>
    <p class="success">
      <img src="<%= game.image_url %>"><%= link_to game.title, game_path(game) %>
    </p>
  <% end %>
</p>
<p>
  <h3>Here are some of my friends</h3>
  <% @user.friends.each do |friend| %>
    <p class="info">
      <img src="<%= friend.image %>"><%= link_to friend.username, user_path(friend) %>
      <%= friend.username %>
    </p>
    <% if current_user.id == @user.id %>
      <p><%= friend.username %> </p>

      <%= link_to "Remove from my friends", user_remove_friend_path({user_id: @user.id, friend_id: friend.id}), method: :delete, data: {} %>

    <% end %>

  <% end %>

</p>

