<p>
  <%= @user.username %>
</p>
<p>
  <img src="<%= @user.profile_pic %>">
</p>
<p>
  "Here's a little bit about me"
  bio bio bio bio
  <%= #@user.username %>
</p>
<p>
  "Here are some of my games"
  <br>game1
  <br>game2
  <br>game3
  <%= #@user.games.each do |game| %>
<!--     <p>
      <img src="<%= #game.image_url %>"><%= link_to game.title, games_path(game) %>
    </p> -->
  <% #end %>
</p>
<p>
  "Here are some of my friends"
  <br>friend1
  <br>friend2
  <br>friend3
  <%= #@user.friends.each do |friend| %>
<!--     <p>
      <img src="<%= #friend.image_url %>"><%= link_to friend.title, friends_path(friend) %>
    </p> -->
  <% #end %>
</p>

