<h1> Create a New Game </h1>

<%= form_for @game, url: games_path do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :min_age %>
  <%= f.text_field :min_age %>

  <%= f.label :min_players %>
  <%= f.text_field :min_players %>

  <%= f.label :max_players %>
  <%= f.text_field :max_players %>

  <%= f.label :min_time  %>
  <%= f.text_field :min_time %>

  <%= f.label :max_time %>
  <%= f.text_field :max_time %>

  <%= f.submit "Submit" %>

<% end %>

<% if @game.errors.any? %>
  <ul>
    <% @game.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


