<div>
  <div class = "game_arrows">
    <a href = "/games/<%=@game.id%>/vote/1">
      <div class='arrow-up'>
      </div>
    </a>


    <div class="vote_count">
      <p id = "vote_for_games"><%=Vote.total(@game) %></p>
    </div>

    <a href = "/games/<%=@game.id%>/vote/-1">
      <div class='arrow-down'>
      </div>
    </a>
  </div>

<%= link_to 'New Comment', new_game_comment_path(@game), id: 'new-comment', remote: true %>
<!-- Setting remote:true prevents event default -->
<div id = "create-comment"> </div>
<div id="comment-list">
<% @comment = @game.comments.all %>
<%= render partial: "comments/comment", collection: @comment.order(:updated_at).reverse_order  %>


</div>
