<img src= <%=@game.image_url %> >
<p><%= @game.title %></p>
<p><%= @game.description %></p>
<p>players: <%= @game.min_players %> to <%=@game.max_players %></p>
<p>minimum age: <%= @game.min_age %></p>
<p>round length: <%= @game.min_time %> to <%=@game.max_time %> minutes</p>

<% @comments = @game.comments.all %>
<%= render "comments/comments", collection: @comments  %>

