<div>
  Super dum logo/slogan
  <% if current_user %>
    Welcome, <%= current_user.username %>! <%= link_to "Your profile", user_path(current_user) %>
    <%= link_to "Logout", session_path(current_user), method: "DELETE" %>
    Maybe there'll be a games searchbar here, and a users searchbar here
  <% else %>
    <!-- let's style these links as buttons -->
    <%= link_to "Login", new_session_path %>
    <%= link_to "Create an account", new_user_path %>
  <% end %>
</div>
